/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-history-timeline {
	.wp-block-heading {
		color: #777;
		font-size: 28px;
		font-weight: 500;
		margin: 0 0 20px;
		line-height: 1.4;
	}

	p {
		margin: 0 0 20px;
	}

	&::after {
		content: '';
		display: block;
		margin-block: 30px;
		height: 1px;
		width: 100%;
		background-color: #eee;
	}
}
